# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
env/
ENV/
.env/

# VS Code settings (mantén solo si quieres compartirlos)
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage*
.cache/
.pytest_cache/

# MyPy / type checking
.mypy_cache/
.dmypy.json

# IDEs
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# OneDrive / sync auxiliaries
~$*
